// colours
$white: #FFF;
$black: #000;
$grayLight: #55565a;
$grayMedium: #363030;
$grayDark: #2b2c2c;
$mediumGreen: #3bae49;
$bluegreen: #02787a;
$seafoamBlue: #83cfcb;
$paleBlue: #96d6ce;
$tiffanyBlue: #7ce0d3;

// breakpoints
$MobileMaxWidth: 767px;
$TabletMaxWidth: 1023px;

// padding
$bodyPadding0: 3vw;
$bodyPadding1: 6vw;
$bodyPadding2: 9vw;

// font sizes
$fontBodyMobile: 14px;
$fontBodyTablet: 16px;
$fontBodyDesktop: 16px;

// font families
$fontFamilyPrimary: 'Gotham', sans-serif;
$fontFamilySecondary: 'Gotham', sans-serif;
$fontFamilyTertiary: 'Gotham', sans-serif;
