// colours
$white: #FFF;
$white15pc: rgba(255,255,255,0.15);
$white25pc: rgba(255,255,255,0.25);
$white35pc: rgba(255,255,255,0.35);
$white45pc: rgba(255,255,255,0.45);
$black: #000;
$black15pc: rgba(0,0,0,0.15);
$black25pc: rgba(0,0,0,0.25);
$grayVeryLight: #ebebeb;
$grayLight: #55565a;
$grayMedium: #363030;
$grayDark: #2b2c2c;
$mediumGreen: #63be73;
$mediumGreen-80: rgba(99, 190, 115, 0.8);
$mediumGreen-95: rgba(99, 190, 115, 0.95);
$bluegreen: #02787a;
$forestGreen: #086762;
$seafoamBlue: #83cfcb;
$paleBlue: #96d6ce;
$paleBlue-80: rgba(150, 214, 206, 0.8);
$paleBlue-95: rgba(150, 214, 206, 0.95);
$tiffanyBlue: #7ce0d3;

// breakpoints
$MobileMaxWidth: 767px;
$TabletMaxWidth: 1023px;

// padding
$bodyPadding-2: 1vw;
$bodyPadding-1: 1.5vw;
$bodyPadding0: 3vw;
$bodyPadding1: 6vw;
$bodyPadding2: 9vw;
$bodyPadding3: 12vw;
$bodyPadding4: 15vw;

// font sizes
$fontBodyMobile: 14px;
$fontBodyTablet: 16px;
$fontBodyDesktop: 16px;

// font families
$fontFamilyBody: 'Montserrat', sans-serif;
$fontFamilyHeading: BigNoodleTitling, sans-serif;

