// colours
$white: #FFF;
$black: #000;
$grayVeryLight: #ebebeb;
$grayLight: #55565a;
$grayMedium: #363030;
$grayDark: #2b2c2c;
$mediumGreen: #63be73;
$mediumGreen-80: rgba(99, 190, 115, 0.8);
$mediumGreen-95: rgba(99, 190, 115, 0.95);
$bluegreen: #02787a;
$seafoamBlue: #83cfcb;
$paleBlue: #96d6ce;
$paleBlue-80: rgba(150, 214, 206, 0.8);
$paleBlue-95: rgba(150, 214, 206, 0.95);
$tiffanyBlue: #7ce0d3;

// breakpoints
$MobileMaxWidth: 767px;
$TabletMaxWidth: 1023px;

// padding
$bodyPadding-2: 1vw;
$bodyPadding-1: 1.5vw;
$bodyPadding0: 3vw;
$bodyPadding1: 6vw;
$bodyPadding2: 9vw;
$bodyPadding3: 12vw;
$bodyPadding4: 15vw;

// font sizes
$fontBodyMobile: 14px;
$fontBodyTablet: 16px;
$fontBodyDesktop: 16px;

// font families
$fontFamilyBody: 'Montserrat', sans-serif;
$fontFamilyHeading: BigNoodleTitling, sans-serif;
