$zIndexMenuContainer: 998;
$zIndexMenuOverlay: 997;

header#header-style-1 {
  z-index: $zIndexMenuContainer;
  color: $white;
  @include useHeaderHeight(height, false);

  .torque-header-content-wrapper {
    display: flex;
    padding-left: $bodyPadding1;
    padding-right: $bodyPadding1;
    align-items: center;
    justify-content: center;

    // left area
    .torque-header-left-area-wrapper {
      display: flex;
      flex: 2;
      justify-content: space-evenly;

      .torque-burger-menu {
        cursor: pointer;
        position: absolute;
        left: 9vw;
        z-index: 999;

        .torque-burger-menu-line {
          background-color: $white;
        }
      }

      .header-quick-nav-wrapper {
        padding-left: 9vw;

        .quick-nav-item {
          margin: auto 20px;
        }
      }
    }

    // center area
    .torque-header-center-area-wrapper {
      flex: 1;

      // logo container
      a {
        div {
          width: auto;
          text-align: center;
        }
      }
    }

    // right area
    .torque-header-right-area-wrapper {
      display: flex;
      flex: 2;
      justify-content: space-evenly;

      .header-cta-one-wrapper {
        display: inline-block;

        .cta-one-text {
          display: inline-block;
          font-weight: bold;
        }
        
        .cta-one-link {
          display: inline-block;
          cursor: pointer;
        }
      }

      .header-cta-two-wrapper {
        display: inline-block;
        
        .cta-two-button {
          
        }
      }
    }
  }

  .torque-header-menu-items-mobile {
    position: fixed;
    left: 0;
    top: 0;
    max-width: 620px;
    width: 100%;
    box-shadow: 4px -2px 16px 0 #1a5858;
    background-image: linear-gradient(119deg, var(--medium-green) -24%, #6ec5a2 23%, #9ccfc8 59%);
  }
}
