$zIndexMenuContainer: 998;
$zIndexMenuOverlay: 997;

header#header-style-1 {
  z-index: $zIndexMenuContainer;
  color: $white;
  height: auto; 

  .torque-header-content-wrapper {
    display: flex;
    padding-left: $bodyPadding1;
    padding-right: $bodyPadding1;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    transition: 0.2s;
    
    @include useHeaderHeight(height, false);
    @include useHeaderPadding();

    @include respond-to(desktop) {
      flex-direction: row;
    }

    // left area
    .torque-header-left-area-wrapper {
      display: flex;
      flex: 2;
      justify-content: space-evenly;

      .torque-burger-menu {
        cursor: pointer;
        left: $bodyPadding0;
        z-index: 999;
        
        @include respond-to(desktop) {
          position: absolute;
          left: $bodyPadding2;
          margin-top: 10px;
        }
        
        .torque-burger-menu-line {
          background-color: $white;
        }
      }

      .header-quick-nav-wrapper {
        display: none;

        @include respond-to(desktop) {
          display: flex;
          padding-left: 9vw;
  
          .quick-nav-item {
            margin: auto 20px;
          }
        }
      }
    }

    // center area
    .torque-header-center-area-wrapper {
      flex: 1;

      // logo container
      a {
        div {
          width: auto;
          text-align: center;
        }
      }
    }

    // right area
    .torque-header-right-area-wrapper {
      display: flex;
      flex: 2;
      justify-content: space-evenly;
      align-items: center;

      .header-cta-one-wrapper {
        display: none;

        @include respond-to(desktop) {
          display: inline-block;
        }

        .cta-one-text {
          display: inline-block;
          font-weight: bold;
          padding-right: 6px;
        }
        
        .cta-one-link {
          display: inline-block;
          cursor: pointer;
        }
      }

      .header-cta-two-wrapper {
        display: inline-block;
        
        .cta-two-button {
          @extend %useButtonLight;
          font-size: 1.125em; // ~18px
          margin-top: 0;
        }
      }
    }

  }

  // notification bar
  &.include-notification-bar {

    .notification-bar-container {
      display: flex;
      align-items: center;
      justify-content: center;
  
      padding: $bodyPadding-1;
      box-sizing: border-box;
      width: 100%;
  
      background-color: $mediumGreen;

      @include respond-to(desktop) {
        padding: $bodyPadding-2;
      }
  
      .notification-bar-content-wrapper {
  
        .notification-bar-content {
          padding-right: $bodyPadding-1;
        }
    
        .notification-bar-cta {
          text-transform: uppercase;
          text-decoration: underline;
        }
      }
  
      .notification-bar-close-btn {
        position: absolute;
        right: $bodyPadding0;
        
        transform: rotate(45deg);
        transform-origin: center;
        
        font-size: 2em;
        font-weight: 300;
        cursor: pointer;

        @include respond-to(desktop) {
          right: $bodyPadding2;
        }
      }
    }
  }

  // header background
  &.include-header-background {
    .torque-header-content-wrapper {
      background-color: $paleBlue;
    }
  }

  .torque-header-menu-items-mobile {
    position: fixed;
    left: 0;
    top: 0;
    max-width: 620px;
    width: 100%;

    @include respond-to-max(tablet) {
      max-width: 100%;
      box-shadow: 4px -2px 16px 0 #1a5858;
      background-image: linear-gradient(220deg, $paleBlue-95 -20%, $mediumGreen-95);
    }

    .torque-menu-items-stacked {
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      
      padding: $bodyPadding3 $bodyPadding2 $bodyPadding3 $bodyPadding3;

      @include respond-to(tablet) {
        height: 100vh;
        padding: $bodyPadding0 $bodyPadding2 $bodyPadding2;
      }

      .torque-menu-item-wrapper {
        width: 100%;
        text-align: center;

        &:first-child {
          @include respond-to-max(tablet) {
            @include useHeaderHeight(margin-top, false);
          }
        }

        @include respond-to(tablet) {
          text-align: left;
        }

        a {
          display: block;
          font-size: 1.875em;
          font-weight: 300;
          padding: 0.9vw 0;
          transition: 0.2s;
  
          &:hover {
            color: $bluegreen;
            font-weight: 400;
          }
        }
      }
    }

    .svg-background {
      display: none;

      @include respond-to(tablet) {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0.9;
  
        filter: drop-shadow( 4px -2px 16px #1a5858 );
        
        polygon {
          fill: url(#grad);
        }
      }
    }

    .menu-overlay {
      display: none;

      @include respond-to(tablet) {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;

        opacity: 0;
        background-color: $bluegreen;
        transition: 0.2s;

        z-index: -2;
      }
    }
  }
}

body {
  &.is-scrolled {
    &:not(.include-header-background) {
      header#header-style-1 {
        background-color: $paleBlue-80;
      }
    }
  }

  &.is-fixed {
    header#header-style-1 {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
  
      .torque-header-content-wrapper {
        @include useHeaderHeight(height, false, true); // NB last param for isFixed
        @include useHeaderPadding(true); // NB last param for isFixed
      }
    }
  }
}