/*
@font-face {
  font-family: Example;
  src: url('../../statics/fonts/Example/Example.otf')
    format('opentype');
  font-weight: normal;
  font-style: normal;
}
*/

// @font-face {
//   font-family: Gotham;
//   src: url('../../statics/fonts/gotham/gotham.otf')
//     format('opentype');
//   font-weight: normal;
//   font-style: normal;
// }
