@import "fonts";
@import "../partials/variables";

body {
  background: $white;
  color: $grayLight;
  font-family: $fontFamilyBody;
  font-weight: 400;
  font-size: $fontBodyMobile; // 14px

  @include respond-to(tablet) {
    font-size: $fontBodyTablet; // 16px
  }
  @include respond-to(desktop) {
    font-size: $fontBodyDesktop; // 16px
  }
}

button,
input,
select,
optgroup,
textarea {
  font-family: $fontFamilyHeading;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $fontFamilyHeading;
}

h1 {
  font-size: 3.4375em; // ~55px
  font-weight: 400;
  margin-top: 0;
  color: $bluegreen;
  
  @include respond-to(tablet) {
    font-size: 4.5em; // ~72px
  }
  @include respond-to(desktop) {
    font-size: 5.125em; // ~82px
  }
}

h2 {
  font-size: 1.625em; // ~26px
  font-weight: 400;
  font-family: $fontFamilyBody;
  margin-top: 0;
  color: $bluegreen;
  
  // @include respond-to(tablet) {}
  @include respond-to(desktop) {
    font-size: 2.125em; // ~34px
  }
}

h3 {
  font-size: 1.875em; // ~30px
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 15px;
  color: $bluegreen;

  @include respond-to(tablet) {
    font-size: 2.25em; // ~36px
  }
  // @include respond-to(desktop) {}
}

h4 {
  font-size: 1.7857em; // ~25px 
  font-weight: 500;
  margin-top: 0;
  
  @include respond-to(tablet) {
    font-size: 2.1875em; // ~35px
  }
  @include respond-to(desktop) {
    font-size: 2.5em; // ~40px
  }
}

h5 {
  font-size: 1.875em; // ~30px
  font-weight: 500;
  margin-top: 0;

  @include respond-to(tablet) {
    // font-size: 1.875em; // ~30px
  }
  @include respond-to(desktop) {
    font-size: 1.875em; // ~30px
  }
}

// a {}