.content-module-one-container {
  position: relative;
  width: 100%;

  padding: $bodyPadding1;
  box-sizing: border-box;

  clear: right;

  .background-graphic-container {
    display: none;

    @include respond-to(tablet) {
      display: block;
    }
  }

  .content-container {
    h1 {
      margin-bottom: 3vw;
    }
    .content-tagline {
      @extend %contentTagline;
    }
    .content {
      width: 100%;
      padding-top: $bodyPadding1;

      @include respond-to(tablet) {
        width: calc(100vw - #{$bodyPadding1} - #{$bodyPadding1});
      }
      @include respond-to(desktop) {
        width: 100%;
      }

      img {
        display: inline-block;
        padding: 0;
        width: 100%;
        max-width: 49.5%;
        height: auto;

        @include respond-to(tablet) {
          max-width: 24.5%;
        }
      }
    }
    .cta-btn {
      @extend %useButtonDark;
    }
  }

  // Content: right
  // Graphic: left
  &.align-content-right {
    .background-graphic-container {
      @extend %useBackgroundGraphicContainer;
      
      img {
        position: absolute;
        left: 0;
        transform: translateX(-35%) translateY(-10%);
        top: 0;
        z-index: -1;
        max-height: 450px;

        @include respond-to(desktop) {
          max-height: 500px;
        }
      }
    }
    .content-container {
      @extend %contentRightSpaceLeft;
    }
  }

  // Content: left
  // Graphic: right
  &.align-content-left {
    .background-graphic-container {
      @extend %useBackgroundGraphicContainer;
      
      img {
        position: absolute;
        right: 0;
        transform: translateX(35%) translateY(-10%);
        top: 0;
        z-index: -1;
        max-height: 450px;

        @include respond-to(desktop) {
          max-height: 500px;
        }
      }
    }
    .content-container {
      @extend %contentLeftSpaceRight;
    }
  }
}