.content-module-six-container {
  position: relative;
  width: 100%;

  padding: $bodyPadding2;
  box-sizing: border-box;
  
  &:after {
    display: table;
    content: "";
    clear: both;
  }

  .content-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    .form-container {

      .contact-form {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        input:not([type="checkbox"]):not([type="radio"]),
        select,
        optgroup,
        textarea {
          border: 0;
          border-radius: 8px;
          background-color: $grayVeryLight;
          padding: 12px;
          width: 100% !important;
          box-sizing: border-box;
        }

        .grunion-field-wrap,
        .contact-submit {
          flex: 1 1 100%;
  
          @include respond-to(tablet) {
            &.form-field-width-25-wrap {
              flex: 0 0 24%;
            }
            &.form-field-width-50-wrap {
              flex: 0 0 49%;
            }
            &.form-field-width-75-wrap {
              flex: 0 0 75%;
            }
          }
        }

        .contact-submit {
          button {
            @extend %useButtonDark;
            // font-size: 1.5em;
          }
        }

        .hidden-input-field-wrap {
          display: none;
        }
      }

      &.hide-labels form.contact-form {
        label:not(.checkbox):not(.checkbox-multiple):not(.radio)
        {
          display: none;
        }
      }
    }
  }

  // Content: left
  // Form: right
  // Graphic: none
  &.alignment-style_1 {
    .content-wrapper {
      @include respond-to(desktop) {
        flex-direction: row;
        align-items: center;
      }

      .background-graphic-container {
        display: none;
      }
      .content-container {
        margin-bottom: $bodyPadding0;

        @include respond-to(tablet) {
          max-width: 70%;
        }
        @include respond-to(desktop) {
          max-width: 100%;
          flex: 1;
          padding-right: $bodyPadding0;
        }
      }
      .form-container {
        @include respond-to(desktop) {
          flex: 1;
          padding-left: $bodyPadding0;
        }
      }
    }
  }

  // Content: top
  // Form: bottom
  // Graphic: left and right
  &.alignment-style_2 {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;

    .background-graphic-container {
      @extend %useBackgroundGraphicContainer;
      
      &.align-left {
        img {
          position: absolute;
          left: 0;
          transform: translateX(-48%) translateY(-5%);
          top: 0;
          z-index: -1;
          max-height: 700px;
        }
        @include respond-to-max(desktop) {
          display: none;
        }
      }
      &.align-right {
        img {
          position: absolute;
          right: 0;
          transform: translateX(35%) translateY(110%);
          top: 0;
          z-index: -1;
          max-height: 480px;
        }
      }
    }
    .content-wrapper {
      flex: 1 1 100%;

      flex-direction: column;

      @include respond-to(desktop) {
        flex: 0 0 50%;
        margin-right: 15vw;
      }

      .content-container {
        margin-bottom: $bodyPadding0;

        @include respond-to(tablet) {
          max-width: 70%;
        }
        @include respond-to(desktop) {
          max-width: 100%;
        }
      }
    }
  }
}