.content-module-two-container {
  position: relative;
  width: 100%;

  .background-graphic-container {
    display: none;
    @extend %useBackgroundGraphicContainer;

    @include respond-to(tablet) {
      display: block;
    }
  }

  // shared styles across all alignments
  .top-row-container,
  .bottom-row-container {
    display: flex;

    .content-container {
      box-sizing: border-box;
      padding: $bodyPadding1 $bodyPadding1;
      line-height: 1.8em;

      @include respond-to(tablet) {
        padding: $bodyPadding4 $bodyPadding1 $bodyPadding0 $bodyPadding1;
      }

      @include respond-to(desktop) {
        padding: $bodyPadding2 $bodyPadding1;
      }
      // h1 {}
      .content-tagline {
        @extend %contentTagline;
      }
      // .content-wrapper {}
      .cta-btn {
        @extend %useButtonDark;
        margin-top: 15px;
      }
    }
  
    .image-container {
      .image-wrapper {
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  // shared style for top row
  .top-row-container {
    h2,
    .content-wrapper {
      @include max-width(375px, center);
    }
  }
  
  // shared style for bottom row
  .bottom-row-container {
    @include respond-to(desktop) {
      padding-top: $bodyPadding0;
    }

    h2,
    .content-wrapper {
      @include max-width(475px, center);
    }
  }

  // Top Row: text left, image right
  // Bottom Row: text right, image left
  // Graphic: right
  &.alignment-style_1 {
    .background-graphic-container {
      img {
        position: absolute;
        right: 0;
        transform: translateX(35%) translateY(80%);
        top: 0;
        z-index: -1;
        max-height: 350px;

        @include respond-to(desktop) {
          transform: translateX(30%) translateY(80%);
          max-height: 550px;
        }
      }
    }
    .top-row-container {
      flex-direction: column-reverse; // image top, content bottom
      align-items: center;

      @include respond-to(tablet) {
        flex-direction: row;
      }

      .content-container {
        flex: 1;
      }
      .image-container {
        flex: 2;
      }
    }
    .bottom-row-container {
      flex-direction: column-reverse; // image top, content bottom
      align-items: center;

      @include respond-to(tablet) {
        flex-direction: row-reverse;
      }

      .content-container {
        flex: 1;
      }
      .image-container {
        @include respond-to(tablet) {
          flex: 2;

          .image-wrapper {
            overflow: hidden;
            
            img {
              width: 120%;
            }
          }
        }

        @include respond-to(desktop) {
          flex: 1;

          .image-wrapper img {
            width: 100%;
          }
        }
      }
    }
  }

  // Top Row: text right, image left
  // Bottom Row: text left, image right
  // Graphic: left
  &.alignment-style_2 {
    .background-graphic-container {
      img {
        position: absolute;
        left: 0;
        transform: translateX(-35%) translateY(80%);
        top: 0;
        z-index: -1;
        max-height: 350px;

        @include respond-to(desktop) {
          transform: translateX(-30%) translateY(80%);
          max-height: 550px;
        }
      }
    }
    .top-row-container {
      flex-direction: column-reverse;
      align-items: center;

      @include respond-to(tablet) {
        flex-direction: row-reverse;
      }

      .content-container {
        flex: 1;
      }
      .image-container {
        flex: 2;
      }
    }
    .bottom-row-container {
      flex-direction: column-reverse;
      align-items: center;

      @include respond-to(tablet) {
        flex-direction: row;
      }

      .content-container {
        flex: 1;
      }
      .image-container {
        @include respond-to(tablet) {
          flex: 2;

          .image-wrapper {
            overflow: hidden;
            
            img {
              width: 120%;
            }
          }
        }

        @include respond-to(desktop) {
          flex: 1;

          .image-wrapper img {
            width: 100%;
          }
        }
      }
    }
  }

  // Hide top/bottom rows is class included
  &.hide_tr {
    .top-row-container {
      display: none;
    }
  }
  &.hide_br {
    .bottom-row-container {
      display: none;
    }
  }
  // If hiding the top/bottom rows, adjust the Y-axis alignment of the background to be centred
  &.hide_tr,
  &.hide_br {
    &.alignment-style_1 {
      .background-graphic-container {
        img {
          transform: translateX(35%) translateY(0%) !important;
          max-height: 680px !important;
        }
      }
    }
    &.alignment-style_2 {
      .background-graphic-container {
        img {
          transform: translateX(-35%) translateY(0%) !important;
          max-height: 680px !important;
        }
      }
    }
  }
}