.content-module-one-container {
  position: relative;
  width: 100%;

  padding: $bodyPadding1;
  box-sizing: border-box;

  overflow: visible;
  
  &:after {
    // display: table;
    // content: "";
    // clear: both;
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

  .content-container {
    h1 {
      margin-bottom: 3vw;
    }
    .content-tagline {
      @extend %contentTagline;
    }
    .cta-btn {
      @extend %useButtonDark;
    }
  }

  &.align-content-right {
    &.include-graphic {
      overflow-y: visible;
      
      .graphic-container {
        @include respond-to(tablet) {
          @include backgroundGraphic(
            340px,
            auto,
            -130px,
            top,
            left
          );
        }
        @include respond-to(desktop) {
          @include backgroundGraphic(
            680px,
            auto,
            -260px,
            top,
            left
          );
        }
      }

      &.alternate-graphic {
        .graphic-container {
          @include respond-to(tablet) {
            @include backgroundGraphic(
              680px,
              auto,
              -260px,
              top,
              left_alt
            );
          }
        }
      }
    }
    .content-container {
      @extend %contentRightSpaceLeft;
    }
  }

  &.align-content-left {
    &.include-graphic {
      overflow-y: visible;

      .graphic-container {
        @include respond-to(tablet) {
          @include backgroundGraphic(
            350px,
            auto,
            calc(100% + 100px),
            -25%,
            right
          );
        }
        @include respond-to(desktop) {
          @include backgroundGraphic(
            720px,
            auto,
            calc(100% + 260px),
            25%,
            right
          );
        }
      }

      &.alternate-graphic {
        .graphic-container {
          @include respond-to(tablet) {
            @include backgroundGraphic(
              350px,
              auto,
              calc(100% + 100px),
              -25%,
              right_alt
            );
          }
          @include respond-to(desktop) {
            @include backgroundGraphic(
              720px,
              auto,
              calc(100% + 260px),
              25%,
              right_alt
            );
          }
        }
      }
    }
    .content-container {
      @extend %contentLeftSpaceRight;
    }
  }
}