.content-module-one-container {
  position: relative;
  width: 100%;

  padding: $bodyPadding1;
  box-sizing: border-box;

  .background-graphic-container {
    display: none;

    @include respond-to(tablet) {
      display: block;
    }
  }

  .content-container {
    h1 {
      margin-bottom: 3vw;
    }
    .content-tagline {
      @extend %contentTagline;
    }
    .cta-btn {
      @extend %useButtonDark;
    }
  }

  // Content: right
  // Graphic: left
  &.align-content-right {
    .background-graphic-container {
      @extend %useBackgroundGraphicContainer;
      
      img {
        position: absolute;
        left: 0;
        transform: translateX(-35%) translateY(-18%);
        top: 0;
        z-index: -1;
        max-height: 670px;
      }
    }
    .content-container {
      @extend %contentRightSpaceLeft;
    }
  }

  // Content: left
  // Graphic: right
  &.align-content-left {
    .background-graphic-container {
      @extend %useBackgroundGraphicContainer;
      
      img {
        position: absolute;
        right: 0;
        transform: translateX(35%) translateY(-18%);
        top: 0;
        z-index: -1;
        max-height: 670px;
      }
    }
    .content-container {
      @extend %contentLeftSpaceRight;
    }
  }
}