footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding: $bodyPadding0;
  box-sizing: border-box;

  // @include respond-to(tablet) {
  //   padding: 40px $bodyPadding1 20px;
  //   justify-content: space-between;
  // }

  // @include respond-to(desktop) {
  //   padding: 60px $bodyPadding1;
  // }

  .footer-block {
    padding-top: $bodyPadding1;
    padding-bottom: $bodyPadding1;
    width: 100%;
    text-align: center;

    @include respond-to(tablet) {
      flex: 1 1 50%;
      text-align: left;
    }

    @include respond-to(desktop) {
      flex-basis: 25%;
      padding-top: $bodyPadding0;
      padding-bottom: 0;
    }

    &.footer-block-one {
      flex: 1 1 100%;
      text-align: center;

      @include respond-to(desktop) {
        flex: 1 1 35%;
      }

      img {
        max-width: 180px;

        @include respond-to(tablet) {
          max-width: 240px;
        }
      }

      .additional-logos {
        padding-top: 30px;

        img {
          width: 25px;
          height: auto;
        }
      }
    }
    
    &.footer-block-two {
      @include respond-to(desktop) {
        flex: 1 1 25%;
      }
    }
    
    &.footer-block-three {

      @include respond-to(desktop) {
        flex: 1 1 40%;
      }

      img {
        width: 100%;
        height: auto;
        max-width: 195px;
      }

      .half-col {
        padding-top: $bodyPadding0;
      }
    }

    .location-info {
      padding-top: 30px;
    }

    .logo-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      @include respond-to(tablet) {
        align-items: start;
      }
      @include respond-to(desktop) {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
      }
      
      img {
        padding: 10px 5px;

        @include respond-to(desktop) {
          padding-right: 20px;
        }
      }
    }
  }

  // .back-to-top-container {
  //   background: $green-pale-80;
  //   bottom: -50px;
  //   cursor: pointer;
  //   opacity: 0;
  //   padding: 8px 11px;
  //   position: fixed;
  //   right: 15px;
  //   transition: 0.2s;
  //   z-index: 9999;

  //   &.show-btn {
  //     bottom: 15px;
  //     opacity: 1;
  //     transition: 0.2s;
  //   }
  //   .back-to-top-btn {
  //     color: $grey-blue-100;
  //   }
  // }
}
