.content-floorplans {

  // grid
  .FloorplansContainer {
    width: 100%;
    box-sizing: border-box;
    padding: $bodyPadding1;

    // single item
    .FloorplanContainer {
      flex: 1 1 100%;
      border: 1px solid $forestGreen;
      margin-bottom: 2%;

      @include respond-to(tablet) {
        flex: 0 0 49%;
      }
      @include respond-to(desktop) {
        flex: 0 0 32%;
      }

      .FloorplanImage {
        padding: 25px 10px;
        box-sizing: border-box;
      }

      .FloorplanContentContainer {
        width: 100%;
        box-sizing: border-box;
        padding: 0 35px 25px 35px;

        h3 {
          font-family: $fontFamilyBody;
          font-weight: bold;
          font-size: 1.125em; // ~18px
          text-transform: uppercase;

          @include respond-to(desktop) {
            font-size: 1.375em; // ~18px
          }
        }

        .DetailsContainer {

          @include respond-to-max(tablet) {
            display: none;
          }

          .DetailWrapper {
            font-size: 0.75em;
            padding-right: 5px;
            box-sizing: border-box;
            padding-bottom: 10px;

            @include respond-to(desktop) {
              flex: 0 0 50%;
            }

            .DetailName {
              text-transform: uppercase;
            }
            // .DetailValue {}
          }
        }
      }

      .FloorplanButtonsContainer {
        width: 100%;
        box-sizing: border-box;
        padding: 0 35px 25px 35px;

        .FloorplanButton {
          box-sizing: border-box;

          @include respond-to-max(desktop) {
            width: 48.5%;
            padding-left: 0 !important;
            padding-right: 0 !important;
          }

          &:nth-child(odd) {
            @extend %useButtonDark_Alt;

            @include respond-to-max(desktop) {
              margin-right: 1.5%;
              margin-left: 0;
            }

            @include respond-to(desktop) {
              margin-right: 12px;
              margin-left: 0;
            }
          }
          &:nth-child(even) {
            @extend %useButtonLight_Alt;

            @include respond-to-max(desktop) {
              margin-left: 1.5%;
              margin-right: 0;
            }
          }
        }
      }
    }
  }

  // detailed view
  .FloorplanDetailContainer {
    width: 100%;
    box-sizing: border-box;
    padding: $bodyPadding1;

    .BackToFloorplans {
      cursor: pointer;
      text-transform: uppercase;
      color: $grayLight;
    }

    .FloorplanContentContainer {
      flex: 1 1 100%;

      @include respond-to(tablet) {
        flex: 0 0 60%;
      }
      @include respond-to(desktop) {
        flex: 0 0 40%;
      }

      .DetailsContainer {
        .DetailName {

          @include respond-to-max(tablet) {
            flex: 0 0 50%;
          }
        }
        .DetailValue {

          @include respond-to-max(tablet) {
            flex: 0 0 50%;
          }
        }
      }

      .FloorplanButtonsContainer {
        width: 100%;
        box-sizing: border-box;
  
        .FloorplanButton {
          margin-right: 20px;
  
          &:nth-child(odd) {
            @extend %useButtonDark_Alt;
          }
          &:nth-child(even) {
            @extend %useButtonLight_Alt;
          }
        }
      }
    }

    .FloorplanImageContainer {

      @include respond-to-max(desktop) {
        flex: 1 1 100%;
      }

      .FloorplanThumbnailContainer {

        img {
          @include respond-to-max(desktop) {
            flex: 0 0 50%;
            max-width: 280px;
          }
        }
      }
    }
  }


  .FiltersContainer {

    .FilterContainer {
      padding: 10px 0;
      
      @include respond-to(desktop) {
        padding: 10px 20px 10px 0;
      }

      &:nth-child(1) {
        flex: 1 1 100%;

        @include respond-to(desktop) {
          flex: 0 0 45%;
        }
      }
      &:nth-child(2) {
        flex: 1 1 100%;

        @include respond-to(tablet) {
          flex: 0 0 50%;
        }
        @include respond-to(desktop) {
          flex: 0 0 25%;
        }
      }
      &:nth-child(3) {
        flex: 1 1 100%;

        @include respond-to(tablet) {
          flex: 0 0 50%;
        }
        @include respond-to(desktop) {
          flex: 0 0 30%;
        }
      }
      &:nth-child(4) {
        display: none;
        
        @include respond-to(desktop) {
          display: block;
        }
      }
      &:nth-child(5) {
        display: none;

        @include respond-to(desktop) {
          display: block;
        }
      }

      .FilterButtonsContainer {
        flex-wrap: wrap;
        justify-content: flex-start;
    
        @include respond-to(desktop) {
          flex-wrap: nowrap;
          justify-content: space-between;
        }
      }
    }

    input[type=range] {
      -webkit-appearance: none;
      width: 100%;
      margin: 3.5px 0;
    }
    input[type=range]:focus {
      outline: none;
    }
    input[type=range]::-webkit-slider-runnable-track {
      width: 100%;
      height: 8px;
      cursor: pointer;
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
      background-image: linear-gradient(45deg, $mediumGreen 0%, $seafoamBlue 90%);
      border-radius: 25px;
      border: 0px solid #010101;
    }
    input[type=range]::-webkit-slider-thumb {
      box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
      border: 1px solid #707070;
      height: 15px;
      width: 15px;
      border-radius: 50px;
      background: #ffffff;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -3.5px;
    }
    input[type=range]:focus::-webkit-slider-runnable-track {
      background-image: linear-gradient(45deg, $mediumGreen 0%, $seafoamBlue 90%);
    }
    input[type=range]::-moz-range-track {
      width: 100%;
      height: 8px;
      cursor: pointer;
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
      background-image: linear-gradient(45deg, $mediumGreen 0%, $seafoamBlue 90%);
      border-radius: 25px;
      border: 0px solid #010101;
    }
    input[type=range]::-moz-range-thumb {
      box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
      border: 1px solid #707070;
      height: 15px;
      width: 15px;
      border-radius: 50px;
      background: #ffffff;
      cursor: pointer;
    }
    input[type=range]::-ms-track {
      width: 100%;
      height: 8px;
      cursor: pointer;
      background: transparent;
      border-color: transparent;
      color: transparent;
    }
    input[type=range]::-ms-fill-lower {
      background-image: linear-gradient(45deg, $mediumGreen 0%, $seafoamBlue 90%);
      border: 0px solid #010101;
      border-radius: 50px;
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    }
    input[type=range]::-ms-fill-upper {
      background-image: linear-gradient(45deg, $mediumGreen 0%, $seafoamBlue 90%);
      border: 0px solid #010101;
      border-radius: 50px;
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    }
    input[type=range]::-ms-thumb {
      box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
      border: 1px solid #707070;
      height: 15px;
      width: 15px;
      border-radius: 50px;
      background: #ffffff;
      cursor: pointer;
      height: 8px;
    }
    input[type=range]:focus::-ms-fill-lower {
      background-image: linear-gradient(45deg, $mediumGreen 0%, $seafoamBlue 90%);
    }
    input[type=range]:focus::-ms-fill-upper {
      background-image: linear-gradient(45deg, $mediumGreen 0%, $seafoamBlue 90%);
    }
  }

  .FiltersButtonsContainer {
    .FiltersFormButton {
      font-family: $fontFamilyHeading;
    }
  }

}